<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="SmartByteTelemetryLibrary.StatisticsClass" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartByteTelemetryLibrary.StatisticsClass>
            <setting name="Time_TotalUp" serializeAs="Binary">
                <value>AAEAAAD/////AQAAAAAAAAAEAQAAAA9TeXN0ZW0uVGltZVNwYW4BAAAABl90aWNrcwAJHPABAAAAAAAL</value>
            </setting>
            <setting name="Time_TotalUpConnected" serializeAs="Binary">
                <value>AAEAAAD/////AQAAAAAAAAAEAQAAAA9TeXN0ZW0uVGltZVNwYW4BAAAABl90aWNrcwAJXjxiOgAAAAAL</value>
            </setting>
            <setting name="Count_PoorWiFi" serializeAs="Xml">
                <value>
                    <unsignedLong>17</unsignedLong>
                </value>
            </setting>
            <setting name="Count_NoInternet" serializeAs="Xml">
                <value>
                    <unsignedLong>11</unsignedLong>
                </value>
            </setting>
            <setting name="Count_SignalStrengthAndErrorRate" serializeAs="Xml">
                <value>
                    <unsignedLong>0</unsignedLong>
                </value>
            </setting>
            <setting name="DictNetworkInterfaceTypeToBSSIDsSeen" serializeAs="Binary">
                <value>AAEAAAD/////AQAAAAAAAAAEAQAAANQCU3lzdGVtLkNvbGxlY3Rpb25zLkdlbmVyaWMuRGljdGlvbmFyeWAyW1tTeXN0ZW0uU3RyaW5nLCBtc2NvcmxpYiwgVmVyc2lvbj00LjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI3N2E1YzU2MTkzNGUwODldLFtTeXN0ZW0uQ29sbGVjdGlvbnMuR2VuZXJpYy5MaXN0YDFbW1N5c3RlbS5TdHJpbmcsIG1zY29ybGliLCBWZXJzaW9uPTQuMC4wLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjc3YTVjNTYxOTM0ZTA4OV1dLCBtc2NvcmxpYiwgVmVyc2lvbj00LjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI3N2E1YzU2MTkzNGUwODldXQMAAAAHVmVyc2lvbghDb21wYXJlcghIYXNoU2l6ZQADAAiSAVN5c3RlbS5Db2xsZWN0aW9ucy5HZW5lcmljLkdlbmVyaWNFcXVhbGl0eUNvbXBhcmVyYDFbW1N5c3RlbS5TdHJpbmcsIG1zY29ybGliLCBWZXJzaW9uPTQuMC4wLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjc3YTVjNTYxOTM0ZTA4OV1dCAAAAAAJAgAAAAAAAAAEAgAAAJIBU3lzdGVtLkNvbGxlY3Rpb25zLkdlbmVyaWMuR2VuZXJpY0VxdWFsaXR5Q29tcGFyZXJgMVtbU3lzdGVtLlN0cmluZywgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5XV0AAAAACw==</value>
            </setting>
            <setting name="Count_BestAP" serializeAs="Xml">
                <value>
                    <unsignedLong>23</unsignedLong>
                </value>
            </setting>
            <setting name="Multitle_SSID" serializeAs="Xml">
                <value>
                    <boolean>true</boolean>
                </value>
            </setting>
            <setting name="Multitle_BSSID" serializeAs="Xml">
                <value>
                    <boolean>true</boolean>
                </value>
            </setting>
        </SmartByteTelemetryLibrary.StatisticsClass>
        <SmartByteTelemetry.Settings1>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousAssemblyVersion" serializeAs="String">
                <value>3.1.995.0</value>
            </setting>
            <setting name="UpgradeAttempted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateTimeLastHeartBeatSent" serializeAs="String">
                <value>08/10/2023 15:41:16</value>
            </setting>
            <setting name="Statistics" serializeAs="Xml">
                <value />
            </setting>
        </SmartByteTelemetry.Settings1>
    </userSettings>
</configuration>